// Gray Shades - https://www.w3schools.com/colors/colors_shades.asp
$HTMLBlack: #000000;
$HTMLGray-1: #080808;
// #101010
// #181818
// #202020
// #282828
// #303030
// #383838
$HTMLGray-12:#606060;
$HTMLGainsboro: #DCDCDC;
$HTMLGray-34: #E8E8E8;
$HTMLWhiteSmoke: #F5F5F5;
$HTMLWhite: #FFFFFF;